@import 'pretendard/dist/web/static/pretendard.css';
@import 'tailwindcss';

@layer base {
  body {
    @apply bg-bg-100;
    @apply text-text-white;
  }
}

@theme {
  --color-bg-100: #171717;
  --color-bg-200: #1f1f1f;
  --color-bg-300: #272829;
  --color-bg-400: #4e5257;

  --color-text-white: #e8e8e8;
  --color-text-black: #171717;
  --color-text-gray: #80868b;

  --color-primary-red: #ed1111;
  --color-primary-blue: #1e56aa;
  --color-primary-green: #00c896;

  --font-sans: pretendard;
}
